In [85]:
import pandas as pd
import numpy as np

In [86]:
df=pd.read_csv("Weather_data.csv")
df.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [87]:
df.columns=df.columns.str.replace("_"," ")
df.columns=df.columns.str.strip()
df.columns

Index(['datetime utc', 'conds', 'dewptm', 'fog', 'hail', 'heatindexm', 'hum',
       'precipm', 'pressurem', 'rain', 'snow', 'tempm', 'thunder', 'tornado',
       'vism', 'wdird', 'wdire', 'wgustm', 'windchillm', 'wspdm'],
      dtype='object')

In [88]:
df["conds"].head()

0    Smoke
1    Smoke
2    Smoke
3    Smoke
4    Smoke
Name: conds, dtype: object

In [89]:
df.shape

(98913, 20)

In [90]:
df.isnull().sum()

datetime utc        0
conds              68
dewptm            619
fog                 0
hail                0
heatindexm      69802
hum               753
precipm         98913
pressurem         231
rain                0
snow                0
tempm             669
thunder             0
tornado             0
vism             4416
wdird           14380
wdire           14380
wgustm          97850
windchillm      98340
wspdm            2353
dtype: int64

In [91]:
df.drop(["heatindexm","precipm","wgustm","windchillm"],axis=1,inplace=True)

In [92]:
df.shape

(98913, 16)

In [93]:
df.columns

Index(['datetime utc', 'conds', 'dewptm', 'fog', 'hail', 'hum', 'pressurem',
       'rain', 'snow', 'tempm', 'thunder', 'tornado', 'vism', 'wdird', 'wdire',
       'wspdm'],
      dtype='object')

In [94]:
df.describe()

,dewptm,fog,hail,hum,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wspdm
count,98294.000000,98913.000000,98913.000000,98160.000000,9.868200e+04,98913.000000,98913.00000,98244.000000,98913.000000,98913.000000,94497.000000,84533.000000,96560.000000
mean,15.817130,0.067109,0.000131,57.774358,1.951861e+03,0.026498,0.00001,25.578427,0.009362,0.000020,2.419885,162.550980,7.685854
std,7.096917,0.250213,0.011464,23.754463,3.217101e+05,0.160612,0.00318,8.464732,0.096303,0.004497,20.970678,120.019889,11.995965
min,-24.000000,0.000000,0.000000,4.000000,-9.999000e+03,0.000000,0.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,0.000000,0.000000,39.000000,1.002000e+03,0.000000,0.00000,19.000000,0.000000,0.000000,1.500000,50.000000,0.000000
50%,15.000000,0.000000,0.000000,58.000000,1.008000e+03,0.000000,0.00000,27.000000,0.000000,0.000000,2.000000,150.000000,7.400000
75%,22.000000,0.000000,0.000000,77.000000,1.014000e+03,0.000000,0.00000,32.000000,0.000000,0.000000,3.000000,270.000000,11.100000
max,75.000000,1.000000,1.000000,243.000000,1.010614e+08,1.000000,1.00000,90.000000,1.000000,1.000000,6436.000000,960.000000,1514.900000

In [95]:
df.head()

,datetime utc,conds,dewptm,fog,hail,hum,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wspdm
0,19961101-11:00,Smoke,9.0,0,0,27.0,1010.0,0,0,30.0,0,0,5.0,280.0,West,7.4
1,19961101-12:00,Smoke,10.0,0,0,32.0,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN
2,19961101-13:00,Smoke,11.0,0,0,44.0,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN
3,19961101-14:00,Smoke,10.0,0,0,41.0,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN
4,19961101-16:00,Smoke,11.0,0,0,47.0,1011.0,0,0,23.0,0,0,1.2,0.0,North,0.0

In [96]:
df["conds"].value_counts()

Haze                             46887
Smoke                            20334
Mist                              8999
Clear                             3129
Widespread Dust                   2830
Fog                               2541
Scattered Clouds                  2197
Partly Cloudy                     2064
Shallow Fog                       1859
Mostly Cloudy                     1520
Light Rain                        1297
Partial Fog                        962
Patches of Fog                     816
Thunderstorms and Rain             471
Light Drizzle                      410
Heavy Fog                          407
Rain                               394
Unknown                            378
Blowing Sand                       358
Overcast                           313
Thunderstorm                       190
Light Thunderstorms and Rain       170
Drizzle                            111
Light Thunderstorm                  63
Light Fog                           52
Heavy Rain                          28
Heavy Thunderstorms and Rain        20
Thunderstorms with Hail             11
Squalls                              6
Light Sandstorm                      6
Light Rain Showers                   5
Light Haze                           4
Volcanic Ash                         4
Rain Showers                         2
Funnel Cloud                         2
Sandstorm                            2
Light Hail Showers                   1
Heavy Thunderstorms with Hail        1
Light Freezing Rain                  1
Name: conds, dtype: int64

In [97]:
df.isnull().sum()

datetime utc        0
conds              68
dewptm            619
fog                 0
hail                0
hum               753
pressurem         231
rain                0
snow                0
tempm             669
thunder             0
tornado             0
vism             4416
wdird           14380
wdire           14380
wspdm            2353
dtype: int64

In [98]:
df["wdire"].value_counts()

North       18854
West        11414
WNW          7211
East         7092
NW           6908
WSW          5378
ESE          5249
ENE          3685
SE           3462
SW           3153
NNW          2647
NE           2470
SSE          2034
NNE          1731
SSW          1706
South        1534
Variable        5
Name: wdire, dtype: int64

In [99]:
df[df["wdire"]=="South"].head()

,datetime utc,conds,dewptm,fog,hail,hum,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wspdm
1370,19970105-05:00,Smoke,11.0,0,0,56.0,1019.0,0,0,20.0,0,0,2.4,170.0,South,5.6
1453,19970109-01:00,Fog,6.0,1,0,93.0,1021.0,0,0,7.0,0,0,0.8,170.0,South,3.7
1643,19970118-07:00,Smoke,4.0,0,0,33.0,1018.0,0,0,21.0,0,0,2.0,180.0,South,3.7
1644,19970118-08:00,Smoke,-2.0,0,0,20.0,1017.0,0,0,22.0,0,0,3.5,190.0,South,7.4
1645,19970118-09:00,Smoke,-3.0,0,0,19.0,1016.0,0,0,22.0,0,0,4.5,180.0,South,5.6

In [100]:
df[df["wdire"].isnull()].head()

,datetime utc,conds,dewptm,fog,hail,hum,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wspdm
60657,20040620-00:00,Haze,24.0,0,0,87.0,995.0,0,0,26.0,0,0,2.0,NaN,NaN,0.0
60658,20040620-03:00,Light Rain,26.0,0,0,84.0,996.0,1,0,28.0,0,0,2.0,NaN,NaN,0.0
60663,20040620-18:00,Haze,24.0,0,0,66.0,996.0,0,0,30.0,0,0,2.0,NaN,NaN,0.0
60665,20040621-00:00,Haze,21.0,0,0,65.0,996.0,0,0,27.0,0,0,2.0,NaN,NaN,0.0
60670,20040621-15:00,Haze,24.0,0,0,53.0,996.0,0,0,32.0,0,0,2.0,NaN,NaN,0.0

In [101]:
df["wdire"].sample()

98506    ESE
Name: wdire, dtype: object

In [102]:
conds=df["conds"].mode()
conds

0    Haze
dtype: object

In [103]:
df["conds"].fillna(df["conds"].mode()[0],inplace=True)
df["dewptm"].fillna(df["dewptm"].mean(),inplace=True)
df["hum"].fillna(df["hum"].mean(),inplace=True)
df["pressurem"].fillna(df["pressurem"].mean(),inplace=True)
df["tempm"].fillna(df["tempm"].mean(),inplace=True)
df["vism"].fillna(df["vism"].mean(),inplace=True)
df["wdird"].fillna(df["wdird"].mean(),inplace=True)

In [104]:
df["wspdm"].fillna(df["wspdm"].mean(),inplace=True)

In [105]:
df.isnull().sum()

datetime utc        0
conds               0
dewptm              0
fog                 0
hail                0
hum                 0
pressurem           0
rain                0
snow                0
tempm               0
thunder             0
tornado             0
vism                0
wdird               0
wdire           14380
wspdm               0
dtype: int64

In [106]:
df.dropna(subset=["wdire"],inplace=True)

In [107]:
df.shape

(84533, 16)

In [108]:
df.head()

,datetime utc,conds,dewptm,fog,hail,hum,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wspdm
0,19961101-11:00,Smoke,9.0,0,0,27.0,1010.0,0,0,30.0,0,0,5.000000,280.0,West,7.400000
1,19961101-12:00,Smoke,10.0,0,0,32.0,-9999.0,0,0,28.0,0,0,2.419885,0.0,North,7.685854
2,19961101-13:00,Smoke,11.0,0,0,44.0,-9999.0,0,0,24.0,0,0,2.419885,0.0,North,7.685854
3,19961101-14:00,Smoke,10.0,0,0,41.0,1010.0,0,0,24.0,0,0,2.000000,0.0,North,7.685854
4,19961101-16:00,Smoke,11.0,0,0,47.0,1011.0,0,0,23.0,0,0,1.200000,0.0,North,0.000000

In [109]:
df.rename(columns={"datetime utc":"datetime"},inplace=True)

In [110]:
df.set_index("datetime",inplace=True)

In [111]:
from sklearn.preprocessing import LabelEncoder,StandardScaler,MinMaxScaler

In [112]:
le=LabelEncoder()
df["conds"]=le.fit_transform(df["conds"])
df["wdire"]=le.fit_transform(df["wdire"])

In [113]:
df.head()

,conds,dewptm,fog,hail,hum,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wspdm
datetime,,,,,,,,,,,,,,,
19961101-11:00,31,9.0,0,0,27.0,1010.0,0,0,30.0,0,0,5.000000,280.0,16,7.400000
19961101-12:00,31,10.0,0,0,32.0,-9999.0,0,0,28.0,0,0,2.419885,0.0,7,7.685854
19961101-13:00,31,11.0,0,0,44.0,-9999.0,0,0,24.0,0,0,2.419885,0.0,7,7.685854
19961101-14:00,31,10.0,0,0,41.0,1010.0,0,0,24.0,0,0,2.000000,0.0,7,7.685854
19961101-16:00,31,11.0,0,0,47.0,1011.0,0,0,23.0,0,0,1.200000,0.0,7,0.000000

In [114]:
mm=MinMaxScaler(feature_range=(0,1))
mm

MinMaxScaler(copy=True, feature_range=(0, 1))

In [115]:
df.shape

(84533, 15)

In [116]:
df.iloc[:,0]

datetime
19961101-11:00    31
19961101-12:00    31
19961101-13:00    31
19961101-14:00    31
19961101-16:00    31
                  ..
20161130-11:00     5
20161130-11:30     5
20161130-12:00     5
20161130-12:30    20
20161130-13:00    20
Name: conds, Length: 84533, dtype: int32

,conds,dewptm,fog,hail,hum,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wspdm
datetime,,,,,,,,,,,,,,,
19961101-11:00,31,9.0,0,0,27.0,1010.0,0,0,30.0,0,0,5.0,280.0,16,7.4

In [124]:
df1=mm.fit_transform(df.iloc[:,:15])

In [126]:
data=pd.DataFrame(df1,columns=df.columns)
data.head()

,conds,dewptm,fog,hail,hum,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wspdm
0,0.815789,0.333333,0.0,0.0,0.096234,0.000109,0.0,0.0,0.391304,0.0,0.0,0.000777,0.291667,1.0000,0.004885
1,0.815789,0.343434,0.0,0.0,0.117155,0.000000,0.0,0.0,0.362319,0.0,0.0,0.000376,0.000000,0.4375,0.005074
2,0.815789,0.353535,0.0,0.0,0.167364,0.000000,0.0,0.0,0.304348,0.0,0.0,0.000376,0.000000,0.4375,0.005074
3,0.815789,0.343434,0.0,0.0,0.154812,0.000109,0.0,0.0,0.304348,0.0,0.0,0.000311,0.000000,0.4375,0.005074
4,0.815789,0.353535,0.0,0.0,0.179916,0.000109,0.0,0.0,0.289855,0.0,0.0,0.000186,0.000000,0.4375,0.000000

In [129]:
data.columns

Index(['conds', 'dewptm', 'fog', 'hail', 'hum', 'pressurem', 'rain', 'snow',
       'tempm', 'thunder', 'tornado', 'vism', 'wdird', 'wdire', 'wspdm'],
      dtype='object')

In [133]:
x=data.iloc[:,:14]

In [136]:
y=data.iloc[:,-1:]

In [138]:
from sklearn.model_selection import train_test_split

In [139]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30,random_state=9)

In [141]:
x_train.shape,y_train.shape

((59173, 14), (59173, 1))

In [142]:
from sklearn.linear_model import LinearRegression

In [143]:
lr=LinearRegression()

In [145]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [146]:
predict=lr.predict(x_test)

In [152]:
from math import sqrt

In [153]:
from sklearn.metrics import mean_squared_error

In [154]:
sqrt(mean_squared_error(y_test,predict))

0.009682490218588226

In [155]:
import seaborn as sns

In [ ]:
sns.pairplot(df)